{{!loginform}}
<section class="section loginform-section">
  <div class="yellow-section-background">
  <div class="container">
    <div class="main-text">
      <h1 class="mt-title text-center mt-5 pt-5 pb-10">Log In<h1>
      <h5>
      <div class="f5 ph20 pb-5 mt-body">Log into your Everyday Brunch account</div>
      <div >
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="pt10">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mt-5 d-grid gap-2 col-7 mx-auto">
            <button class="btn btn-primary" type="button">Log In</button>
          </div>
        </form>
      </div>
      <div class="yellow-section-background">
      <div class="mt-5 mb-3">
        <span class="mr5">Don't have an account?</span>
        <span>
          <a class="js-toggle-to-sign-up blue-text-link" href="/signup">Sign Up</a>
        </span>
      </div>
      </div>
    </h5>
    </div>
    </div>
  </div>
  {{!loginform}}
