{{!loginform}}
<section class="section loginform-section">
  <div class="container">
    <div class="main-text">
      <h1 class="mt-title text-center mt-5 pt-5 pb-10">Log In<h1>
      <h5>
      <div class="f5 ph20 pb-5 mt-body">Log into your Everyday Brunch account</div>
      <div >
        <form method="POST" action="/login">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp" required>
            {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
          </div>
          <div class="pt10">
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" required>
          </div>
          <div class="mt-5 d-grid gap-2 col-7 mx-auto">
            <button class="btn btn-primary" type="submit">Log In</button>
          </div>
        </form>

      </div>
      <br>
      {{#if hasErrors}}
       <p class="error">{{error}}</p>
       {{/if}}
       <br>
      <div class="mt-5 mb-3">
        <span class="mr5">Don't have an account?</span>
        <span>
          <a class="js-toggle-to-sign-up blue-text-link" href="/signup">Sign Up</a>
        </span>
      </div>
    </h5>
    </div>
  </div>
  {{!loginform}}
