<h3>Last Step to Complete your order</h3> 
    <form action="./paymentpage" method="POST"> 
        <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="{{key}}" 
        data-amount={{amt}}
        data-currency="usd" 
        data-name="Your Brunch Payment" 
        data-description="{{descriptionofCartItems}}" 
        data-locale="auto" > 
        </script> 
    </form> 
