<h3>Welcome to Payment Gateway</h3> 
    <form action="./payment" method="POST"> 
        <script
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button"
        data-key="{{key}}" 
        data-amount={{script}}
        data-currency="usd" 
        data-name="Your Brunch Payment" 
        data-description="Everyday Brunch" 
        data-locale="auto" > 
        </script> 
    </form> 