
<section class="section admin-section">
  <div class="container">
    <div class="row">
        <h1 class="main-heading text-center mt-5 mb-5">Admin</h1>
    </div>
    {{#if deleteerror}}
        <div class="accordion-item mb-5">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
            {{deleteerror}}
        </button>
        </h2>
    </div>
    <p><a href="./viewAdvertise">Back to all Categorys</a></p>
    {{/if}}
    {{#if json}}
    <div class="accordion-item mb-5">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
            View Advertisements
        </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body ">      
              <table class="table table-striped table-dark table-hover">
                <tr>
                  <th>Advertise Name</th>
                  <th>Delete</th>
                </tr>
                {{#each json}}
                <tr>
                  <td>{{advertiseTitle}}</td>
                  <td>
                    <form method="post" action="./deleteadvertise">
                      <input type="text" name="image" value="{{advertiseImage}}" hidden>
                      <input type="text" name="deleteid" value="{{_id}}" hidden>
                      <button class="btn btn-danger" type="submit"><span class="material-icons">delete</span></button>
                    </form>
                  </td>
                </tr>
                {{/each}}
              </table> 
            </div>
        </div>
    </div>
    {{/if}}

  </div>
</section>